@model AdminPanel.Models.AdminVWModel



<div class="row">
    @foreach (var st in Model.ServiceTypes)
    {
        <div class="col-md-12">
            <span class="card-title"> @Html.DisplayFor(x => st.Type)</span>         
            <div class="row">             
                @for (int idx = 0; idx < Model.Facilities.Count; idx++)
                {
                    if (Model.Facilities[idx].ServiceTypeName == st.Type)
                    {
                        <div class="col-md-4">
                            @Html.HiddenFor(x => Model.Facilities[idx].Id)
                            @Html.CheckBoxFor(x => Model.Facilities[idx].IsSelected)
                            @Html.DisplayFor(x => Model.Facilities[idx].Name)
                            @Html.HiddenFor(x => Model.Facilities[idx].Name)
                        </div>
                    }
                }
            </div>
            <br />
        </div>
    }
   
</div>