@*@model List<ShareSpace.Models.Property.Property>
@{
    ViewBag.Title = "Properties";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<header class="content__title">
    <h1>Properties</h1>

    <div class="actions">
        <a href="/Admin/PropertyDetails/Create" class="actions__item zmdi zmdi-plus zmdi-hc-fw" title="Create"></a>
        <a href="/Admin/PropertyDetails/Index" class="actions__item zmdi zmdi-refresh zmdi-hc-fw" title="Refresh"></a>
    </div>
</header>
<div class="card">
    <div class="card-body">
        <h4 class="card-title">
            <a href="/Admin/PropertyDetails/Create" class="btn btn-light btn--icon-text" title="Create"><i class="zmdi  zmdi-plus-circle-o zmdi-hc-fw"></i> Create New</a>
        </h4>
        <div class="table-responsive">
            <table id="data-table" class="table">
                <thead>
                    <tr>
                        <th>
                            Name
                        </th>
                        <th>
                            Website
                        </th>
                        <th>
                            Total Room
                        </th>
                        <th>
                            Type
                        </th>
                        <th>
                            Address
                        </th>
                        <th>Actions</th>
                    </tr>
                </thead>
                @foreach (var item in Model)
                {
                    <tbody>
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.Name)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Website)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.TotalRoom)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Type)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Address1),
                                @Html.DisplayFor(modelItem => item.City),
                                @Html.DisplayFor(modelItem => item.CountryName)
                            </td>
                            <td>
                                <a href="/Admin/PropertyDetails/Edit/@item.Id" title="Edit"><span class="actions__item zmdi zmdi-edit zmdi-hc-fw"></span></a>|
                                <a href="/Admin/PropertyDetails/EditAddress/@item.Id" title="Address"><span class="actions__item zmdi zmdi-pin zmdi-hc-fw"></span></a>|
                                <a href="/Admin/PropertyDetails/GalleryList/@item.Id" title="Galleries"><span class="actions__item zmdi zmdi-image-o zmdi-hc-fw"></span></a>|
                                <a href="/Admin/PropertyDetails/FeatureList/@item.Id" title="Features"><span class="actions__item zmdi zmdi-assignment zmdi-hc-fw"></span></a>|
                                <a href="/Admin/PropertyDetails/PolicyList/@item.Id" title="Policies"><span class="actions__item zmdi zmdi-collection-text zmdi-hc-fw"></span></a>|
                                <a href="/Admin/PropertyDetails/ReviewList/@item.Id" title="Reviews"><span class="actions__item zmdi zmdi zmdi-comment-list zmdi-hc-fw"></span></a>|
                                <a href="/Admin/RoomDetails/Index/@item.Id" title="Rooms"><span class="actions__item zmdi zmdi-hotel zmdi-hc-fw"></span></a>|
                                <a href="/Admin/PropertyDetails/Delete/@item.Id" onclick="return confirm('Are you sure you want to delete this item?')" title="Delete"><i class="actions__item zmdi zmdi-delete zmdi-hc-fw"></i></a>
                            </td>
                        </tr>
                    </tbody>
                }

            </table>
        </div>
    </div>
</div>*@
