@model ShareSpace.Models.Client.ClientViewModel
@{
    ViewBag.Title = "Office Details";
}
@{
    var maploc = Model.PropertyView.RoadNo + "," + Model.PropertyView.Area + "," + Model.PropertyView.City + "," + Model.PropertyView.ZipCode;

    var mapurl = "https://maps.google.com/maps?q=" + @maploc + "&t=&z=13&ie=UTF8&iwloc=&output=embed";

    var propertyHiddenAddress = Model.PropertyView.HouseNo + ", " + Model.PropertyView.FlatNo + ", " + Model.PropertyView.RoadNo + ", ";


}
<link href="https://cdn.rawgit.com/mdehoog/Semantic-UI/6e6d051d47b598ebab05857545f242caf2b4b48c/dist/semantic.min.css" rel="stylesheet" type="text/css" />
<script src="https://code.jquery.com/jquery-2.1.4.js"></script>
<script src="https://cdn.rawgit.com/mdehoog/Semantic-UI/6e6d051d47b598ebab05857545f242caf2b4b48c/dist/semantic.min.js"></script>
<div class="clear">

</div>

<div class="content-area rooms-details-page">
    <div class="container">

        <div class="row">

            <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12">
                <!--  Rooms detail slider start -->
                <div class="rooms-detail-slider simple-slider mrg-btm-40 ">
                    <div id="carousel-custom" class="carousel slide" data-ride="carousel">
                        <div class="carousel-outer">
                            <!-- Wrapper for slides -->
                            <div class="carousel-inner">
                                @foreach (var item in Model.GalleryList.Take((7)))
                                {
                                    var imagepath = "http://adminss.thebyteheart.com/" + item.ImageUrl;
                                    if (item.GalleryId == Model.GalleryList.First().GalleryId)
                                    {
                                        <div class="item active">
                                            <img src="@imagepath" class="thumb-preview" alt="Chevrolet Impala">
                                        </div>
                                    }
                                    else
                                    {
                                        <div class="item">
                                            <img src="@imagepath" class="thumb-preview" alt="Chevrolet Impala">
                                        </div>
                                    }

                                }
                            </div>
                            <!-- Controls -->
                            <a class="left carousel-control" href="#carousel-custom" role="button" data-slide="prev">
                                <span class="slider-mover-left no-bg" aria-hidden="true">
                                    <i class="fa fa-angle-left"></i>
                                </span>
                                <span class="sr-only">Previous</span>
                            </a>
                            <a class="right carousel-control" href="#carousel-custom" role="button" data-slide="next">
                                <span class="slider-mover-right no-bg" aria-hidden="true">
                                    <i class="fa fa-angle-right"></i>
                                </span>
                                <span class="sr-only">Next</span>
                            </a>
                        </div>
                        <!-- Indicators -->
                        <ol class="carousel-indicators thumbs visible-lg visible-md">
                            @foreach (var item in Model.GalleryList.Take((7)))
                            {
                                //var imagepath =Request.Url.Scheme+"://" + Request.Url.Authority + item.ImageUrl;
                                var imagepath = "http://adminss.thebyteheart.com/" + item.ImageUrl;
                                <li data-target="#carousel-custom" data-slide-to="0" class="">
                                    <img src="@imagepath" alt="Chevrolet Impala">
                                </li>
                            }
                        </ol>
                    </div>
                </div>
                <!-- Rooms detail slider end -->
                <div class="heading-rooms  clearfix sidebar-widget">

                    <div class="pull-left">
                        <h3>@Model.PropertyView.PropertyName</h3>
                        <p>
                            <i class="fa fa-map-marker"></i>@if (Session["UserName"] != null)
                            {
                                @propertyHiddenAddress
                            }
                            @Model.PropertyView.Area, @Model.PropertyView.City - @Model.PropertyView.ZipCode
                        </p>
                    </div>
                    <div class="pull-right">
                        <h3><span>৳@Model.PropertyView.RetailPrice.ToString("0.00")</span></h3>
                        <h5>/ Hour</h5>
                    </div>

                </div>
                <!-- Rooms details section start -->
                <div class="rooms-detail-slider sidebar-widget">

                    <!-- Search area box 2 start -->
                    <div class="search-area-box-2 hidden-lg hidden-md mrg-btm-30">

                        <div class="search-contents">
                            @using (Html.BeginForm("OfficeDetails", "Home", FormMethod.Post, new { @class = "validate-form" }))
                            {

                                @Html.HiddenFor(m => m.PropertyView.HouseNo)
                                @Html.HiddenFor(m => m.PropertyView.FlatNo)
                                @Html.HiddenFor(m => m.PropertyView.RoadNo)
                                @Html.HiddenFor(m => m.PropertyView.Area)
                                @Html.HiddenFor(m => m.PropertyView.City)
                                @Html.HiddenFor(m => m.PropertyView.ZipCode)
                                @Html.HiddenFor(m => m.PropertyView.PropertyId)


                                <div class="row">
                                    <div class="col-md-3 col-pad col-pad-2">
                                        <div class="search-your-rooms">
                                            <h3 class="hidden-xs hidden-sm">Reserve</h3>
                                            <h2 class="hidden-xs hidden-sm">Your <span>Space</span></h2>
                                            <h2 class="hidden-lg hidden-md">Reserve Your <span>Space</span></h2>
                                        </div>
                                    </div>
                                    <div class="search-your-details">
                                        <div class="col-md-6 col-sm-6 col-xs-12 col-pad">
                                            <div class="form-group">
                                                <div class="validate-input" data-validate="Date is required" id="rangeStartDatesm">
                                                    @Html.TextBoxFor(m => m.BookingEmail.FromDate, new { @class = "btn-default validate-field", placeholder = "Check In Date" })
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6 col-sm-6 col-xs-12 col-pad">
                                            <div class="form-group">
                                                <div class="validate-input" data-validate="Date is required" id="rangEndDatesm">
                                                    @Html.TextBoxFor(m => m.BookingEmail.ToDate, new { @class = "btn-default validate-field", type = "text", placeholder = "Check Out Date" })
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6 col-sm-6 col-xs-12 col-pad">
                                            <div class="form-group">
                                                <div class="validate-input" data-validate="Time is required" id="rangestart">
                                                    @Html.TextBoxFor(m => m.BookingEmail.FromHour, new { @class = "btn-default validate-field", type = "text", placeholder = "Check In Time" })
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6 col-sm-6 col-xs-12 col-pad">
                                            <div class="form-group">
                                                <div class="validate-input" data-validate="Time is required" id="rangeend">
                                                    @Html.TextBoxFor(m => m.BookingEmail.ToHour, new { @class = "btn-default validate-field", type = "text", placeholder = "Check Out Time" })
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6 col-sm-6 col-xs-12 col-pad">
                                            <div class="form-group">
                                                <div class="validate-input" data-validate="Email is required">
                                                    @Html.TextBoxFor(m => m.BookingEmail.Email, new { @class = "btn-default validate-field", id = string.Format("email"), type = "email", placeholder = "Your Email Address" })
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6 col-sm-6 col-xs-12 col-pad">
                                            <div class="form-group">
                                                <div class="validate-input" data-validate="Mobile is required">
                                                    @Html.TextBoxFor(m => m.BookingEmail.MobileNo, new { @class = "btn-default validate-field", type = "phone", placeholder = "Mobile" })
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6 col-sm-6 col-xs-12 col-pad">
                                            <div class="form-group">
                                                <div class="validate-input" data-validate="Number of Person is required">
                                                    @Html.DropDownListFor(m => m.BookingEmail.MaximumPerson, new List<SelectListItem>
                                                    {
                                                        new SelectListItem {Text = "1", Value = "1"},
                                                        new SelectListItem {Text = "2", Value = "2"},
                                                        new SelectListItem {Text = "3", Value = "3"},
                                                        new SelectListItem {Text = "4", Value = "4"},
                                                        new SelectListItem {Text = "5", Value = "5"},
                                                        new SelectListItem {Text = "6", Value = "6"},
                                                        new SelectListItem {Text = "7", Value = "7"},
                                                        new SelectListItem {Text = "8", Value = "8"},
                                                        new SelectListItem {Text = "9", Value = "9"},
                                                        new SelectListItem {Text = "10", Value = "10"}
                                                    },
                                                        "Number of Person", new
                                                        {@class = "selectpicker search-fields form-control-2", name = "Person"}
                                                        )
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-12 col-sm-12 col-xs-12 col-pad">
                                            <div class="form-group">
                                                <input type="checkbox" name="agree-term" id="agree-term" class="agree-term" />
                                                <label for="agree-term" class="label-agree-term">
                                                    <span><span></span></span>I agree all statements in <a href="#" class="term-service">Terms of service</a>
                                                </label>
                                            </div>
                                        </div>
                                        <div class="col-md-12 col-sm-12 col-xs-12 col-pad">
                                            <div class="form-group">
                                                <button type="submit" class="search-button">Book Now</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            }
                        </div>
                    </div>
                    <!-- Search area box 2 end -->

                    <div class="mrg-btm-30">
                        <!-- Title -->
                        <h3>Office Description</h3>
                        <!-- paragraph -->
                        @Html.Raw(@Model.PropertyView.Description)
                    </div>

                    <!-- Rooms features start -->
                    <div class="rooms-features mrg-btm-30">
                        <h3>Office Amenities</h3>
                        <div class="row">
                            <ul class="condition">
                                @foreach (var services in Model.PropertyServiceOnClient)
                                {
                                    <li class="col-md-4 col-sm-4 col-xs-12">
                                        <i class="@services.ImagePath"></i>@services.ServiceName
                                    </li>
                                }
                            </ul>
                        </div>
                    </div>
                    <!-- Rooms features end -->
                    <!-- Comments section start -->
                    <div class="comments-section mrg-btm-30">
                        <!-- Main Title 2 -->
                        <div class="main-title-2">
                            <h1><span>Office </span> Reviews</h1>
                        </div>

                        <ul class="comments">
                            @foreach (var comments in Model.ClientPropertyRatings)
                            {
                                var imagepath = "http://adminss.thebyteheart.com/" + @comments.ClientPhoto;
                                <li>
                                    <div class="comment">
                                        <div class="comment-author">
                                            <a href="#">
                                                <img src="@imagepath" alt="@comments.FirstName @comments.LastName">
                                            </a>
                                        </div>
                                        <div class="comment-content">
                                            <div class="comment-meta">
                                                <div class="comment-meta-author">
                                                    @comments.FirstName @comments.LastName
                                                </div>

                                                <div class="comment-meta-date">
                                                    <span class="hidden-xs">@comments.CreatedDate</span>
                                                </div>
                                            </div>
                                            <div class="clearfix"></div>
                                            <div class="comment-body">
                                                <div class="comment-rating">
                                                    <div class="rating" data-rateyo-star-width="20px" data-rateyo-rating="@comments.Rating">
                                                    </div>
                                                </div>
                                                <p>
                                                    @comments.Review
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                            }

                        </ul>
                    </div>
                    <!-- Comments section end -->
                    <!-- Contact form start -->
                    @if (Session["UserName"] != null)
                    {
                        <div class="contact-form">
                            @using (Html.BeginForm("ClientReview", "Home", FormMethod.Post))
                            {
                                @Html.HiddenFor(m => m.PropertyView.PropertyId)

                                <div class="main-title-2">
                                    <h1>Rate this Office</h1>
                                    @*<div id="client-rating" data-rateyo-star-width="20px" data-rateyo-rating="@Model.PropertyRating.Rating">

                                        </div>*@
                                    @*@Html.EditorFor(x => x.PropertyRating.Rating, new{ @id = "client-rating" })
                                        @Html.HiddenFor(x => x.PropertyRating.Rating)*@
                                    @Html.DropDownListFor(model => model.PropertyRating.Rating, new List<SelectListItem>
                                    {
                                        new SelectListItem {Text = "1", Value = "1"},
                                        new SelectListItem {Text = "2", Value = "2"},
                                        new SelectListItem {Text = "3", Value = "3"},
                                        new SelectListItem {Text = "4", Value = "4"},
                                        new SelectListItem {Text = "5", Value = "5"},
                                    },"Rating", new{@class = "form-control ddlbg", name = "Rating" }
                                        )
                                </div>
                                <div class="main-title-2">
                                    <h1> <span>Leave</span> a Comment</h1>
                                </div>

                                <div class="row">
                                    @*<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                            <div class="form-group fullname">
                                                <input type="text" name="full-name" class="input-text" placeholder="Full Name">
                                            </div>
                                        </div>
                                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                            <div class="form-group enter-email">
                                                <input type="email" name="email" class="input-text" placeholder="Enter email">
                                            </div>
                                        </div>*@

                                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                        <div class="form-group message">
                                            @*<textarea class="input-text" name="message" placeholder="Write message"></textarea>*@
                                            @Html.TextAreaFor(x => x.PropertyRating.Review, new { @class = "input-text", placeholder = "Write message" })
                                        </div>
                                    </div>
                                    <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12">
                                        <div class="form-group send-btn">
                                            @*<button type="submit" class="button-md button-theme">Post Comment</button>*@
                                            <input type="submit" class="button-md button-theme" value="Post a Comment" />
                                        </div>
                                    </div>
                                </div>
                            }
                        </div>
                    }

                    <!-- Contact form end -->

                </div>
                <!-- Course details section end -->
            </div>
            <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                <!-- Sidebar start -->
                <div class="sidebar right">
                    <!-- Search area box start -->
                    <div class="search-area-box-6 hidden-xs hidden-sm">
                        <div class="search-contents">
                            @using (Html.BeginForm("OfficeDetails", "Home", FormMethod.Post, new { @class = "validate-big-form" }))
                            {
                                @Html.HiddenFor(m => m.PropertyView.PropertyId)
                                @Html.HiddenFor(m => m.PropertyView.HouseNo)
                                @Html.HiddenFor(m => m.PropertyView.FlatNo)
                                @Html.HiddenFor(m => m.PropertyView.RoadNo)
                                @Html.HiddenFor(m => m.PropertyView.Area)
                                @Html.HiddenFor(m => m.PropertyView.City)
                                @Html.HiddenFor(m => m.PropertyView.ZipCode)
                                <div class="col-lg-12 col-pad col-pad-2">
                                    <div class="search-your-rooms">
                                        <h3 class="hidden-xs hidden-sm">Reserve Your</h3>
                                        <h2 class="hidden-xs hidden-sm" style="letter-spacing: 2px">Space<span> Now</span></h2>
                                        <h2 class="hidden-lg hidden-md">Search Your <span>Rooms</span></h2>
                                    </div>
                                </div>
                                <div class="search-your-details">
                                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                        <div class="form-group">
                                            <div class="validate-big-input" data-validate="Date is required" id="rangeStartDate">
                                                @Html.TextBoxFor(m => m.BookingEmail.FromDate, new { @class = "btn-default validate-big-field", type = "text", placeholder = "Check In Date", autocomplete = "off" })
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                        <div class="form-group">
                                            <div class="validate-big-input" data-validate="Date is required" id="rangeEndDate">
                                                @Html.TextBoxFor(m => m.BookingEmail.ToDate, new { @class = "btn-default validate-big-field", type = "text", placeholder = "Check Out Date", autocomplete = "off" })
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                        <div class="form-group">
                                            <div class="validate-big-input" data-validate="Time is required" id="rangestartsm">
                                                @Html.TextBoxFor(m => m.BookingEmail.FromHour, new { @class = "btn-default validate-big-field", type = "text", placeholder = "Check In Time", autocomplete = "off" })
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                        <div class="form-group">
                                            <div class="validate-big-input" data-validate="Time is required" id="rangeendsm">
                                                @Html.TextBoxFor(m => m.BookingEmail.ToHour, new { @class = "btn-default validate-big-field", type = "text", placeholder = "Check Out Time", autocomplete = "off" })
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                        <div class="form-group">
                                            <div class="validate-big-input" data-validate="Email is required">
                                                @Html.TextBoxFor(m => m.BookingEmail.Email, new { @class = "btn-default validate-big-field", id = string.Format("email"), type = "email", placeholder = "Your Email Address", autocomplete = "off" })
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                        <div class="form-group">
                                            <div class="validate-big-input" data-validate="Mobile is required">
                                                @Html.TextBoxFor(m => m.BookingEmail.MobileNo, new { @class = "btn-default validate-big-field", type = "phone", placeholder = "Mobile", autocomplete = "off" })
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                        <div class="form-group">
                                            <div class="validate-big-input" data-validate="Number of Person is required">
                                                @Html.DropDownListFor(m => m.BookingEmail.MaximumPerson, new List<SelectListItem>
                                                {
                                                    new SelectListItem {Text = "1", Value = "1"},
                                                    new SelectListItem {Text = "2", Value = "2"},
                                                    new SelectListItem {Text = "3", Value = "3"},
                                                    new SelectListItem {Text = "4", Value = "4"},
                                                    new SelectListItem {Text = "5", Value = "5"},
                                                    new SelectListItem {Text = "6", Value = "6"},
                                                    new SelectListItem {Text = "7", Value = "7"},
                                                    new SelectListItem {Text = "8", Value = "8"},
                                                    new SelectListItem {Text = "9", Value = "9"},
                                                    new SelectListItem {Text = "10", Value = "10"}
                                                }, "Number of Person", new {@class = "selectpicker search-fields form-control-2", name = "Person"})
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-12 col-sm-12 col-xs-12 ">
                                        <div class="form-group">
                                            <input type="checkbox" name="agree-term" id="agree-term" class="agree-term" />
                                            <label for="agree-term" class="label-agree-term">
                                                <span><span></span></span>I agree all statements in <a href="#" class="term-service">Terms of service</a>
                                            </label>
                                        </div>
                                    </div>
                                    <div class="col-md-12 col-sm-12 col-xs-12">
                                        <div class="form-group">
                                            <button type="submit" class="search-button">Book Now</button>
                                        </div>
                                    </div>
                                </div>
                            }
                        </div>
                    </div>
                    <!-- Search area box end -->
                    <!-- Inside video start  -->
                    <div class="inside-video sidebar-widget">
                        <div class="main-title-2">
                            <h1>Office Video</h1>
                        </div>
                        <iframe src="https://www.youtube.com/embed/azJ-WlU3UPs" allowfullscreen=""></iframe>
                    </div>
                    <!-- Inside video end -->
                    <!-- Social media start -->
                    <div class="social-media sidebar-widget clearfix">
                        <!-- Main Title 2 -->
                        <div class="main-title-2">
                            <h1>Social Media</h1>
                        </div>
                        <!-- Social list -->
                        <div class="addthis_inline_share_toolbox"></div>
                    </div>
                    <!-- Social media end -->
                    <!-- Location start  -->
                    <div class="location sidebar-widget">
                        <div class="map">
                            <!-- Main Title 2 -->
                            <div class="main-title-2">
                                <h1>Location</h1>
                            </div>

                            <iframe class="contact-map" style="height: 662px; background-color: #fff" id="gmap_canvas"
                                    src="@mapurl" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"></iframe>

                        </div>
                    </div>
                    <!-- Location end -->

                </div>
                <!-- Sidebar end -->
            </div>
        </div>
    </div>
</div>
<script>
    $('#rangestart').calendar({
        type: 'time',
        endCalendar: $('#rangeend')
    });
    $('#rangeend').calendar({
        type: 'time',
        startCalendar: $('#rangestart')
    });

    $('#rangestartsm').calendar({
        type: 'time',
        endCalendar: $('#rangeendsm')
    });
    $('#rangeendsm').calendar({
        type: 'time',
        startCalendar: $('#rangestartsm')
    });


    $('#rangeStartDate').calendar({
        type: 'date',
        endCalendar: $('#rangeEndDate')
    });
    $('#rangeEndDate').calendar({
        type: 'date',
        startCalendar: $('#rangeStarDate')
    });

    $('#rangeStartDatesm').calendar({
        type: 'date',
        endCalendar: $('#rangEndDatesm')
    });
    $('#rangEndDatesm').calendar({
        type: 'date',
        startCalendar: $('#rangeStarDatesm')
    });

</script>