@model List<ShareSpace.Models.Client.ClientsBookingHistory>

@{
    ViewBag.Title = "History";
    Layout = "~/Views/Shared/_ClientDashboardLayout.cshtml";
}

<div class="content__inner content__inner--sm">
    <header class="content__title">
        <h1>Your Booking History</h1>
    </header>

    <div class="contacts row">
        @foreach (var booking in Model.ToList())
        {

            <div class="col-md-6 col-sm-6 col-6">
                <div class="contacts__item">
                    <a href="#" class="contacts__img">
                        <img src="@booking.FeatureImage" alt="@booking.PropertyName">
                    </a>

                    <div class="contacts__info">
                        <strong>@booking.PropertyName</strong>
                        <small>@booking.Area, @booking.City - @booking.ZipCode</small>
                    </div>

                    <button class="contacts__btn" onclick="location.href='/Home/OfficeDetails/@booking.PropertyId'">Review</button>
                </div>
            </div>
        }
    </div>
</div>