@model ShareSpace.Models.Client.Client
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_ClientDashboardLayout.cshtml";
}

<div class="content__inner content__inner--sm">
    <header class="content__title">
        <h1>@Model.FirstName @Model.LastName</h1>
        <small>Web/UI Developer, Edinburgh, Scotland</small>
    </header>

    <div class="card profile">
        <div class="profile__img">
            <img src="@Model.ClientPhoto" alt="@Model.FirstName">
        </div>

        <div class="profile__info">
            <ul class="icon-list">
                <li><i class="fa fa-user"></i>@Model.FirstName @Model.LastName</li>
                <li><i class="fa fa-phone"></i>@Model.MobileNo</li>
                <li><i class="fa fa-envelope"></i>@Model.Email</li>
                <li><i class="fa fa-map-marker"></i>House No. 29, Road No. 01/A, Sector No. 05, Dhaka 1230</li>
            </ul>
        </div>
    </div>

    <div class="card">
        <div class="card-body">
            <h5>FEATURED SPACES</h5>
            <div class="container">
                <div class="row">
                    @foreach (var property in ViewBag.featuredProperties)
                    {
                        var propertyLink = "/Home/OfficeDetails/" + property.PropertyId;
                        //var imagepath = Request.Url.Scheme + "://" + Request.Url.Authority + property.FeatureImage;
                        <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 wow fadeInUp delay-04s">
                            <!-- Hotel box start -->
                            <div class="hotel-box">
                                <!--header -->
                                <div class="clearfix">
                                    <img src="@property.FeatureImage" alt="img-6" class="img-responsive">
                                </div>
                                <!-- Detail -->
                                <div class="detail clearfix">
                                    <div class="price">
                                        ৳@property.RetailPrice.ToString("0.00")<sub>/Hour</sub>
                                    </div>
                                    <h4>
                                        <a href="@propertyLink" style="color: #e3e3e3">@property.PropertyName</a>
                                    </h4>
                                    <div class="rating" data-rateyo-star-width="15px" data-rateyo-rating="@property.Rating">

                                    </div>
                                    <p>@property.ShortDescription</p>
                                    @*<a href="@propertyLink" class="btn button-sm button-theme">View Details</a>*@
                                </div>
                            </div>
                            <!-- Hotel box end -->
                        </div>
                    }
                </div>
            </div>



            @*View all*@
            <div class="ViewAll">
                <i class="zmdi zmdi-view-headline zmdi-hc-fw"></i>
                <a href="/Home/Index" class="btn button-sm button-theme" style="background: #009667;color: white;float: right;margin: 43px 24px 0 0;padding: 8px 22px 10px 22px;font-size: 14px;font-weight: bold; border: 1px solid white;">

                    View All  <b style="font-size:18px;">»</b>

                </a>
            </div>
        </div>
    </div>
</div>
