@{
    //string path = Session["ClientPhoto"] != null ? Session["ClientPhoto"] : "";
    var imagepath2 = "http://ss.byteheart.com/" + Session["ClientPhoto"];
}
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>

    @Styles.Render("~/Content/css")
    @Styles.Render("~/Content/animateCss")
    @Styles.Render("~/Content/bootstrapSubmenu")
    @Styles.Render("~/Content/bootstrapSelect")
    @Styles.Render("~/fonts/fontAwesome")
    @Styles.Render("~/fonts/flatIcon")
    @Styles.Render("~/fonts/linearIcon")
    @Styles.Render("~/Content/jQueryCustomScroll")
    @Styles.Render("~/Content/bootstrapDate")
    @Styles.Render("~/Content/rateYo")
    @*@Styles.Render("~/Content/customCss")
        @Styles.Render("~/Content/defaultCss")*@
    @Styles.Render("~/Content/clientDashboardCss")
    @Styles.Render("~/Content/ieBug")

    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/ie")
</head>
<body data-sa-theme="3">
    <div class="page_loader"></div>
    <header class="header">
        <div class="navigation-trigger hidden-xl-up" data-sa-action="aside-open" data-sa-target=".sidebar">
            <i class="fa fa-bars"></i>
        </div>

        <div class="logo hidden-sm-down">
            <h1><a href="../Home/Index">Share Space</a></h1>
        </div>
    </header>

    <aside class="sidebar">
        <div class="scrollbar-inner">

            <div class="user">
                <div class="user__info" data-toggle="dropdown">
                    <img class="user__img" src="@imagepath2" alt="">
                    <div>
                        @if (Session["FirstName"] != null && Session["LastName"] != null)
                        {
                            <div class="user__name">@Session["FirstName"].ToString() @Session["LastName"].ToString()</div>
                            <div class="user__email">@Session["UserName"].ToString()</div>
                        }
                        else
                        {
                            Response.Redirect("~/Auth/Login");
                        }

                    </div>
                </div>

                <div class="dropdown-menu">
                    @Html.ActionLink(" View Profile", "ViewProfile", "Dashboard", null, new { @class = "dropdown-item fa fa-eye" })
                    @Html.ActionLink(" Edit Profile", "EditProfile", "Dashboard", null, new { @class = "dropdown-item fa fa-edit" })
                    @Html.ActionLink(" Logout", "Logout", "Auth", null, new { @class = "dropdown-item fa fa-sign-out" })
                </div>
            </div>

            <ul class="navigation">
                <li><a href="/Home/Index"><i class="fa fa-home"></i>Home</a></li>

                <li><a href="../Dashboard/History"><i class="fa fa-clock-o"></i>History</a></li>
            </ul>
        </div>
    </aside>
    <main class="content" style="background: #00bb81; ">
        @RenderBody()

        <footer class="footer hidden-xs-down">
            <p>&copy; @DateTime.Now.Year <a href="http://byteheart.com/" target="_blank">ByteHeart</a>. Trademarks and brands are the property of their respective owners.</p>

            <ul class="nav footer__nav">
                <a class="nav-link" href="/Home/Index">Homepage</a>

                <a class="nav-link" href="/Home/SearchResults">Offices</a>

                <a class="nav-link" href="/Home/Contact">Contacts</a>
            </ul>
        </footer>
    </main>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/jquery.validate.unobtrusive")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/bootstrapSubmenu")
    @Scripts.Render("~/bundles/ytPlayer")
    @Scripts.Render("~/bundles/wowJs")
    @Scripts.Render("~/bundles/bootstrapSelect")
    @Scripts.Render("~/bundles/easing")
    @Scripts.Render("~/bundles/scrollUp")
    @Scripts.Render("~/bundles/customScrollbar")
    @Scripts.Render("~/bundles/customScrollbarContact")

    @Scripts.Render("~/bundles/filterizr")
    @Scripts.Render("~/bundles/momentJs")
    @Scripts.Render("~/bundles/bootstrapDate")
    @Scripts.Render("~/bundles/clientDashboardJs")
    @Scripts.Render("~/bundles/rateYo")
</body>
</html>