<!DOCTYPE html>

<html>
<head>
	<meta name="viewport" content="width=device-width" />
	<title>@ViewBag.Title</title>

	@Styles.Render("~/Content/css")
	@Styles.Render("~/Content/animateCss")
	@Styles.Render("~/Content/bootstrapSubmenu")
	@Styles.Render("~/Content/bootstrapSelect")
	@Styles.Render("~/fonts/fontAwesome")
	@Styles.Render("~/fonts/flatIcon")
	@Styles.Render("~/fonts/linearIcon")
	@Styles.Render("~/Content/jQueryCustomScroll")
	@Styles.Render("~/Content/bootstrapDate")
	@*@Styles.Render("~/Content/customCss")
	@Styles.Render("~/Content/defaultCss")*@
	@Styles.Render("~/Content/clientDashboardCss")
	@Styles.Render("~/Content/ieBug")

	@Scripts.Render("~/bundles/modernizr")
	@Scripts.Render("~/bundles/ie")
</head>
<body data-sa-theme="3">
	<div class="page_loader"></div>
	<header class="header">
		<div class="navigation-trigger hidden-xl-up" data-sa-action="aside-open" data-sa-target=".sidebar">
			<i class="fa fa-bars"></i>
		</div>

		<div class="logo hidden-sm-down">
			<h1><a href="#">Share Space</a></h1>
		</div>
	</header>

	<aside class="sidebar">
		<div class="scrollbar-inner">

			<div class="user">
				<div class="user__info" data-toggle="dropdown">
					<img class="user__img" src="/img/avatar/avatar-5.png" alt="">
					<div>
						<div class="user__name">Mr.x</div>
						<div class="user__email">mr.x@gmail.com</div>
					</div>
				</div>

				<div class="dropdown-menu">
					<a class="dropdown-item" href="../Dashboard/Index"><i class="fa fa-eye"></i> View Profile</a>
					<a class="dropdown-item" href="../Dashboard/EditProfile"><i class="fa fa-pencil"></i> Edit Profile</a>
					<a class="dropdown-item" href="../Home/Index"><i class="fa fa-sign-out"></i> Logout</a>
				</div>
			</div>

			<ul class="navigation">
				<li><a href="/Home/Index"><i class="fa fa-home"></i>Home</a></li>

				<li><a href="../Dashboard/History"><i class="fa fa-clock-o"></i>History</a></li>
			</ul>
		</div>
	</aside>
	<main class="content" style="background: #00bb81; ">
		@RenderBody()

		<footer class="footer hidden-xs-down">
			<p>© Super Admin Responsive. All rights reserved.</p>

			<ul class="nav footer__nav">
				<a class="nav-link" href="#">Homepage</a>

				<a class="nav-link" href="#">Company</a>

				<a class="nav-link" href="#">Support</a>

				<a class="nav-link" href="#">News</a>

				<a class="nav-link" href="#">Contacts</a>
			</ul>
		</footer>
	</main>
	@Scripts.Render("~/bundles/jquery")
	@Scripts.Render("~/bundles/bootstrap")
	@Scripts.Render("~/bundles/bootstrapSubmenu")
	@Scripts.Render("~/bundles/ytPlayer")
	@Scripts.Render("~/bundles/wowJs")
	@Scripts.Render("~/bundles/bootstrapSelect")
	@Scripts.Render("~/bundles/easing")
	@Scripts.Render("~/bundles/scrollUp")
	@Scripts.Render("~/bundles/customScrollbar")
	@Scripts.Render("~/bundles/customScrollbarContact")
	@Scripts.Render("~/bundles/filterizr")
	@Scripts.Render("~/bundles/momentJs")
	@Scripts.Render("~/bundles/bootstrapDate")
	@Scripts.Render("~/bundles/clientDashboardJs")
</body>
</html>