<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>@ViewBag.Title - My ASP.NET Application</title>

	@Styles.Render("~/Content/css")
	@Styles.Render("~/Content/animateCss")
	@Styles.Render("~/Content/bootstrapSubmenu")
	@Styles.Render("~/Content/bootstrapSelect")
	@Styles.Render("~/fonts/fontAwesome")
	@Styles.Render("~/fonts/flatIcon")
	@Styles.Render("~/fonts/linearIcon")
	@Styles.Render("~/Content/jQueryCustomScroll")
	@Styles.Render("~/Content/bootstrapDate")
	@Styles.Render("~/Content/customCss")
	@Styles.Render("~/Content/defaultCss")
	@Styles.Render("~/Content/ieBug")

	@Scripts.Render("~/bundles/modernizr")
	@Scripts.Render("~/bundles/ie")



</head>
<body>
<div class="page_loader"></div>



<div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
	@Scripts.Render("~/bundles/bootstrapSubmenu")
	@Scripts.Render("~/bundles/ytPlayer")
	@Scripts.Render("~/bundles/wowJs")
	@Scripts.Render("~/bundles/bootstrapSelect")
	@Scripts.Render("~/bundles/easing")
	@Scripts.Render("~/bundles/scrollUp")
	@Scripts.Render("~/bundles/customScrollbar")
	@Scripts.Render("~/bundles/filterizr")
	@Scripts.Render("~/bundles/bootstrapDate")
	@Scripts.Render("~/bundles/customJs")
</body>
</html>
