@model List<ShareSpace.Models.Booking.AdminBookingList>


<header class="content__title">
    <h1>BookingS</h1>

    <div class="actions">
        <a href="~/Booking/InsertBooking" class="actions__item zmdi zmdi-plus zmdi-hc-fw" title="Create"></a>
        <a href="~/Booking/AdminBookings" class="actions__item zmdi zmdi-refresh zmdi-hc-fw" title="Refresh"></a>
    </div>

</header>

<div class="card">
    <div class="card-body">
        <a href="~/Booking/InsertBooking" class="btn btn-light btn--icon-text" title="Create"><i class="zmdi  zmdi-plus-circle-o zmdi-hc-fw"></i> Create New</a>

        <div class="table-responsive">
            <table id="data-table" class="table">
                <thead style="color: #ffaa00">
                    <tr>
                        <th>Client Name</th>
                        <th>Email</th>
                        <th>Mobile No.</th>
                        <th>Property Name</th>
                        <th>Location</th>
                        <th>Property Image</th>
                        <th>From Date</th>
                        <th>To Date</th>
                        <th>Max Person</th>
                        <th>Action</th>
                        @*<th>Details</th>*@
                    </tr>
                </thead>
                <tbody>
                    @foreach (var booking in Model)
                    {
                        <tr>
                            <td>@booking.FirstName @booking.LastName</td>
                            <td>@booking.Email</td>
                            <td>@booking.MobileNo</td>
                            <td>@booking.PropertyName</td>
                            <td>@booking.Area @booking.City</td>
                            <td>
                                <img src="@booking.FeatureImage" alt="@booking.PropertyName" width="100" height="100" />
                            </td>
                            <td>@booking.FromDate.ToString("MM/dd/yyyy") @booking.FromHour</td>
                            <td>@booking.ToDate.ToString("MM/dd/yyyy") @booking.ToHour</td>
                            <td>@booking.BookingMaximumPerson</td>
                            <td>
                                @Html.ActionLink(" ", "UpdateBooking", new { bookingId = booking.BookingId }, new { @class = "zmdi zmdi-edit" })&nbsp;
                                @Html.ActionLink(" ", "DeleteBooking", new { bookingId = booking.BookingId }, new { @class = "zmdi zmdi-delete zmdi-hc-fw", onclick = "return confirm('Are you sure you want to delete this item?')" })
                            </td>
                            @*<td><a href="../Booking/BookingConfirmation">View</a></td>*@
                        </tr>

                    }
                </tbody>
            </table>
        </div>
    </div>
</div>

